* {
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 1em;
}

.container, main, form, label {
  align-items: center;
  display: flex;
}

.container {
  background-color: #fafafa;
  height: 100vh;
  justify-content: space-evenly;
}

main {
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
  width: 70%;
}

img {
  height: 158px;
}

form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: center;
  padding: 8vw;
  width: 50%;
}

label, input, button {
  height: 2.5rem;
  margin: 15px 0;
  width: 100%;
}

input {
  border: 1px solid rgb(214, 214, 214);
  color: #6b7588;
  padding: 3px 10px;
  stroke: #e1e5eb;
}

button {
  background-color: rgb(0, 59, 229);
  border: 1px solid rgb(0, 102, 204);
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

button:disabled {
  background-color: rgb(204, 204, 204);
  border: 1px solid rgb(189, 189, 189);
  color: rgb(102, 102, 102);
}

button:hover:enabled {
  background-color: rgb(46, 90, 221);
  border: 1px solid rgb(0, 153, 204);
  color: white;
  padding: 5px 10px;
}
